

#form{
    width: 450px;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

#closeIcon{
<<<<<<< HEAD
    z-index: 50;
    position: relative;
    left:-3px;
=======
    position: relative;
    z-index:100;
    left: 3px;
>>>>>>> 49bf18ea07a6535c795dc49015857a7e3e18fae3
    top:-9px;
}